@mixin global-wrap {
  padding: 0 20px 0 20px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

@mixin theme-color {
  background-color: rgb(129, 179, 210);
}

@mixin container {
  width: 320px;
  margin: 0 auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
