.advantages-part {
  background: white;
}

.advantages-part__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  font-size: 14px;
  padding: 0 20px 0 70px;
  position: relative;
  width: 230px;
  margin: 0 auto;
}

.advantage-part__info {
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .advantages-part__wrap {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 14px;
    padding: 0;
    position: relative;
    width: 100%;
  }

  .advantage-part {
    width: 33.333333%;
    padding: 90px 78px 0 78px;
  }

  &--home {
    order: 1;
  }

  &--cards {
    order: 3;
  }

  &--food {
    order: 2;
  }
}
