.description-part {
  width: 100%;
}

.description-part__wrap {
  @include global-wrap;
  @include flex-column;
  width: 280px;
  margin: 0 auto;
}

.description-part__head {
  font-size: 18px;
}

.description-part__reasons {
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .description-part__wrap {
    width: 520px;
  }
}
