.general-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  @include global-wrap;
}

.general-form__section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.tell-me-feel,
.tell-me-places {
  font-weight: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: left;
}

.general-form__radio-label {
  margin-left: 70px;
}

.general-form__head {
  font-size: 18px;
  text-transform: uppercase;
}

.tell-me-name__key-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.general-form__name {
  margin-left: 12px;
  flex-grow: 2;
}

.form-success,
.form-error {
  width: 300px;
  min-height: 320px;
  border: 1px solid black;
  @include global-wrap;
  @include flex-column;
}

.modal__info {
  font-weight: 400;
}

.form-error__btn {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}
