.hotel-part {
  width: 100%;
}

.hotel-part__wrap {
  @include flex-column;
  padding: 0 20px 0 20px;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}

.hotel-part__info {
  font-size: 14px;
  font-weight: 400;
}

.hotel-part__hotel-searcher {
  margin-bottom: 50px;
}

@media (min-width: $tablet-width) {
  .hotel-part__wrap {
    padding: 0;
    width: 100%;
  }

  .hotel-part__info,
  .hotel-part__hotel-searcher {
    width: 460px;
    margin-right: auto;
    margin-left: auto;
  }

  .hotel-part__map {
    transform: none;
  }
}
