.main-nav {
  position: relative;
}

.main-nav--open .main-nav__toggle {
  position: absolute;
  font-size: 0;
  width: 25px;
  height: 25px;
  background-image: url(".././img/icon-cross.svg");
  background-color: inherit;
  background-repeat: no-repeat;
  right: 10px;
  top: 18px;
  border: none;
  cursor: pointer;
  z-index: 2;
  outline: none;
}

.main-nav--close .main-nav__toggle {
  position: absolute;
  font-size: 0;
  width: 25px;
  height: 25px;
  background-image: url(".././img/icon-menu.svg");
  background-color: inherit;
  background-repeat: no-repeat;
  right: 10px;
  top: 18px;
  border: none;
  cursor: pointer;
  z-index: 2;
  outline: none;
}

.main-nav__list {
  background-color: rgb(129, 179, 210);
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: $mobile-width-only) {
  .main-nav--close {
    background-color: white;
  }

  .main-nav--close .main-nav__list {
    display: none;
  }

  .main-nav--close + .page-header__logo {
    top: 0;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    background-color: white;
  }
}
