.main-nav {
  @include theme-color;
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  font-size: 0;
  width: 22px;
  height: 22px;
  background-image: url(".././img/icon-cross.svg");
  background-color: inherit;
  right: 10px;
  top: 10px;
  border: none;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
