.page-footer {
  width: 100%;
  background-color: white;
}

.page-footer__wrap {
  @include flex-column;
  margin: 0 auto;
  min-height: 186px;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 20px;
}

.page-footer__hash {
  font-size: 21px;
}

.page-footer__social {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-footer__wrap {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    min-height: 122px;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }

  .page-footer__social,
  .page-footer__hash,
  .page-footer__copyright {
    width: 33.33333%;
    flex-grow: 1;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    max-width: 1200px;
    margin: 0 auto;
  }
}
