.picture-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px 0 20px;
}

.picture-part {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.picture-part__athor {
  font-weight: 400;
  text-transform: capitalize;
}

.picture-part__likes {
  padding-left: 35px;
}

.video-part__control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 65px;
  background-color: rgb(242, 242, 242);
}

.video-part__repeat {
  margin-right: 90px;
}
