.picture-parts {
  width: 100%;
  margin: 0;
}

.picture-parts__wrap {
  @include global-wrap;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
}

.picture-part {
  margin: 0;
}

.picture-part__author {
  font-weight: 400;
  text-transform: none;
}

.picture-part__likes {
  padding-left: 35px;
}

.video-part {
  width: 100%;
}

.video-wrap {
  @include global-wrap;
  @include flex-column;
  font-size: 14px;
  font-weight: 700;
  width: 280px;
  margin: 0 auto;
}

.video-part__info {
  font-weight: 400;
}

.video-part__film {
  transform: translateX(-20px);
}

.video-part__control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 65px;
  background-color: rgb(242, 242, 242);
}

.video-part__repeat {
  margin-right: 90px;
}

@media (min-width: $tablet-width) {
  .picture-parts__wrap {
    width: 100%;
    flex-direction: row;
    padding: 0 60px 0 60px;
  }

  .picture-part {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(242, 242, 242);

    &--huge {
      width: 100%;
    }
  }

  .picture-part__link {
    flex-basis: 100%;
  }

  .picture-part__name {
    width: 100%;
  }

  .picture-part__author {
    margin-right: auto;
  }

  .picture-part__author,
  .picture-part__name {
    padding-left: 20px;
  }

  .picture-part__likes {
    padding-right: 20px;
  }

  .video-wrap {
    width: auto;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
  }

  .video-part__info {
    width: 430px;
  }

  .video-part__film {
    transform: none;
    width: 100%;
  }

  .video-part__control {
    width: 100%;
  }

  .video-part__repeat {
    margin-right: auto;
    margin-left: 25px;
  }

  .video-part__cc,
  .video-part__expand {
    margin-right: 25px;
  }
}

@media (min-width: $desktop-width) {
  .picture-part {
    width: 33%;
    background-color: transparent;

    &--huge {
      width: 100%;
    }
  }

  .picture-part__view {
    position: relative;
    top: 80px;
    left: 0;
    z-index: 1;
  }

  .picture-part__author,
  .picture-part__likes,
  .picture-part__name {
    z-index: 2;
    color: white;
  }
}
