.reason-part {
  background-color: rgb(238, 238, 238);

  &--plus-view {
    background-color: #81b3d2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--no-view {
    border-bottom: 1px solid #678fa8;
  }
}

.reason-part__wrap {
  @include global-wrap;
  @include flex-column;
  font-size: 14px;
  font-weight: 400;
  width: 280px;
  margin: 0 auto;
}

.reason-part__order,
.reason-part__details {
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .reason-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--plus-view {
      width: 100%;
    }

    &--no-view {
      border-bottom: none;
      width: 33%;
    }

    &--rev {
      flex-direction: row-reverse;
    }
  }

  .reason__image {
    flex-grow: 1;
    padding: 0;
    margin: 0;
  }

  .reason-part__wrap {
    &--plus-view {
      width: 33%;
    }
  }

  .reason-squad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(238, 238, 238);
  }

  .reason-part__details {
    width: 175px;
    align-self: center;
  }
}
