.video-part {
  width: 100%;
}

.video-part__wrap {
  @include flex-column;
  font-size: 14px;
  font-weight: 700;
  width: 320px;
  margin: 0 auto;
  justify-content: flex-start;
  padding-top: 32px;
  padding-bottom: 42px;
  align-items: center;
}

.video-part__head {
  font-size: 18px;
}

.video-part__info {
  font-weight: 400;
  width: 270px;
  margin-top: 26px;
}

.video-part__film {
  margin-top: 17px;
  width: 320px;
}

.video-part__control {
  @include global-wrap;
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 65px;
  background-color: rgb(242, 242, 242);
}

.video-part__repeat {
  margin-left: 2px;
  cursor: pointer;
}

.video-part__cc {
  margin-left: 128px;
  cursor: pointer;
}

.video-part__expand {
  margin-left: 27px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .video-part__wrap {
    width: 100%;
    max-width: 648px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    padding-bottom: 30px;
  }

  .video-part__head {
    font-size: 30px;
    letter-spacing: 0;
  }

  .video-part__info {
    width: 430px;
    padding-bottom: 40px;
    padding-top: 5px;
  }

  .video-part__film {
    width: 100%;
    height: auto;
    min-height: 500px;
  }

  .video-part__control {
    width: 100%;
    position: absolute;
    min-height: 93px;
    bottom: 36px;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .video-part__repeat {
    margin-right: auto;
    margin-left: 25px;
  }

  .video-part__cc,
  .video-part__expand {
    margin-right: 25px;
  }
}

@media (min-width: $desktop-width) {
  .video-part__wrap {
    max-width: 800px;
    padding-bottom: 80px;
  }

  .video-part__control {
    bottom: 85px;
  }
}
