body {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  font-size: 18px;
  line-height: 26px;
  background: white;
  min-width: $mobile-width;
  margin: 10px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: $tablet-width) {
  body {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 2px 2px 2px grey,
    -2px 2px 2px grey;
  }
}
