body {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  font-size: 18px;
  line-height: 26px;
  background: white;
  min-width: $mobile-width;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: $tablet-width) {
  body {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    min-width: $desktop-width;
  }
}
