.form-success,
.form-error {
  @include global-wrap;
  @include flex-column;
  width: 300px;
  min-height: 320px;
  border: 1px solid black;
}

.modal__info {
  font-weight: 400;
}

.form-error__btn {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}
