.button {
  @include theme-color;
  align-self: stretch;
  color: white;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 21px;
    align-self: center;
  }
}
