.button {
  @include theme-color;
  align-self: stretch;
  color: white;
  line-height: 40px;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  align-self: center;
}
